<footer class="footer">
    <a href="//github.com" target="_blank">
        <i class="fa fa-github" aria-hidden="true"></i>
    </a>

    <a href="//twitter.com" target="_blank">
        <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>

    <a href="mailto:author@email.com" target="_blank">
        <i class="fa fa-envelope" aria-hidden="true"></i>
    </a>
    <div class="post-date">
        Net11ty | a minimalist<a href="//www.11ty.dev">11ty</a>
        theme greatly inspired by<a href="//github.com/LeNPaul/Lagrange">Langrange</a>
    </div>
</footer>