---
permalink: /about.html
title: About
---

<div>
  <h3>Welcome to Net11ty!</h1>

  <p>
    Snogrange is a minimalist
    <a href="//11ty.dev">11tyjs</a>
    theme. The purpose of this theme is to provide a simple, clean, content-focused blogging platform for your personal site or blog. Below you can find everything you need to get started.
  </p>

  <h3 id="getting-started">Getting Started</h3>

  <p>
    <a href="/posts/welcome-to-eleventy">Getting Started</a>: getting started with installing Snogrange, whether you are completely new to using 11ty, or simply just migrating to a new 11ty theme.
  </p>

  <h3 id="example-content">Example Content</h3>

  <p>
    <a href="/posts/this-post-demonstrates-post-content-styles">Text and Formatting</a>
  </p>

  <h3 id="questions">Questions?</h3>

  <p>
    This theme is completely free and open source software. You may use it however you want, as it is distributed under the
    <a href="http://choosealicense.com/licenses/mit/">MIT License</a>. If you are having any problems, any questions or suggestions, feel free to
    <a href="https://twitter.com/">tweet at me</a>, or
    <a href="https://github.com/">file a GitHub issue</a>.
  </p>
</div>